.row1{
    display: flex;
    flex-direction: row;
}
.btn1{
    flex: auto;
    align-items: center;
    background-color:#00eeff;
    color:white; 
    margin-right: 5px;
}
.btn2{
    flex: auto;
    align-items: center;
    background-color:#cc01ff;
    color:white;
    margin-right: 5px;
}
.btn3{
    flex: auto;
    align-items: center;
    background-color:#aaff;
    color:white;
    margin-right: 5px;
}
body{
    width: 500px;
}
h1{
    text-align: center;
    text-decoration: underline;
}
#sp{
    border: solid 10px #2080dd;
}
